.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #262626;
  margin: 0;
}
.not-found-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #989898;
  margin: 0;
}
